<!DOCTYPE html>
<html lang="en" style="overflow: auto;">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Gauri Nanda</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <!-- <link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet"> -->

  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Slabo"> -->

  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora"> -->
  {% block css %}{% endblock css %}

</head>

<body>
  
  <!-- <div id="siteWrapper" class="clearfix site-wrapper"></div> -->
  <header id="header" class="header">
    <!-- Navigation -->
      <nav class="navbar navbar-expand-md fixed-top" id="mainNav">
        <a class="navbar-brand" href="{{ url_for('work') }}">Gauri Nanda</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <!-- menu -->
          <div class="burger-box">
            <div class="top-bun"></div>
            <div class="patty"></div>
            <div class="bottom-bun"></div>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item home_tab">
              <a class="nav-link" href="{{ url_for('work') }}">Work</a>
            </li>
            <li class="nav-item about_tab">
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item contact_tab">
              <a class="nav-link" href="{{ url_for('press') }}">Press</a>
            </li>
            <li class="nav-item contact_tab">
              <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fa fa-instagram" href="#"></a>
            </li>
          </ul>
        </div>
      </nav>

  </header>
   

{% block content %}
{% endblock content %}

  <!-- Footer -->
  <footer>
    <div class="footer-container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
          </ul>
          <p class="copyright text-muted">Copyright &copy; Guari Nanda 2021</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript -->

  <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
  {% block js %}{% endblock js %}
</body>